<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta charset="utf-8">
  <title>康佳冰箱</title>
  <script>
    (function () {
      var baseFontSize = 100;
      var baseWidth = 320;
      var set = function () {
        var clientWidth = document.documentElement.clientWidth || window.innerWidth;
        var rem = 100;
        if (clientWidth != baseWidth) {
          rem = Math.floor(clientWidth / baseWidth * baseFontSize);
        }
        document.querySelector('html').style.fontSize = rem + 'px';
      }
      set();
      window.addEventListener('resize', set);
    }());
  </script>
  <link type="text/css" rel="stylesheet" href="css/vue-stone.css">
  <link type="text/css" rel="stylesheet" href="css/style.css">
</head>

<style>
  body {
    font-size: 14px;
    overflow: auto;
  }
</style>

<body>
  <div id="app" style="margin-top:0px;background: #fff;">
    <!--头部及power-->
    <!--蓝色-->
    <header :class="status+'_bg'">
      <ul>
        <li>
          <p class="transparent-font">冷藏室℃</p>
          <span>{{coldRoomValue}}</span>
        </li>
        <li>
          <p class="transparent-font">空气质量</p>
          <div v-if="status === 'green'">清新</div>
          <div v-if="status === 'orange'">良好</div>
          <div v-if="status === 'red'">异常</div>
        </li>
        <li>
          <p class="transparent-font">环温℃</p>
          <span>{{ambientTemperature}}</span>
        </li>
      </ul>
      <div class="air-freshness-index">
        空气清新指数: {{airFreshnessIndex}}
      </div>
    </header>
    <div slot="header" class="c-panel-header u-cross-center" v-if="warn">
      <div class="c-panel-title font-14">
        <img class="warn" src="./img/warn.png" />冰箱门未关
      </div>
    </div>
    <!--冷藏室温度设置-->
    <div slot="body" class="c-panel-body row-2 u-cross-center border-bottom-gray">
      <div slot="title" class="c-panel-title">
        <div class="cold-room-setting">冷藏室温度设置</div>
        <div class="cold-room-index" :class="status+'-font'">
          {{ coldRoomValue }}
          <span class="celsius">℃</span>
        </div>
      </div>
      <v-counter slot="main" ref="coldRoomDom"></v-counter>
    </div>
    <!--云离子杀菌-->
    <div class="border-bottom-gray">
      <div slot="body" class="c-panel-header u-cross-center mode-title sterilization">
        <div slot="title" class="c-panel-title">云离子杀菌</div>
        <v-switch slot="main" v-model="isSterilization" ref="sterilizationDom" :class="status"></v-switch>
      </div>
      <div slot="body" class="c-panel-body row-3 u-cross-center padding-0-12">
        <v-range slot="main" ref="rangeArray" v-model="range_data_array.value" :is_step="range_data_array.isStep" :dots="range_data_array.dots"
          :class="{[status]: isSterilization}">
        </v-range>
        <div class="mask" v-if="!isSterilization"></div>
      </div>
    </div>
    <!--模式-->
    <div class="border-bottom-gray">
      <div slot="header" class="c-panel-header u-cross-center mode-title">
        <div class="c-panel-title">模式</div>
      </div>
      <div class="wjx-mode">
        <div class="wjx-mode-item border-right-gray" :class="{[status + '-background']: modeValue === 'quickCooling'}" @click='changeMode("quickCooling")'>
          <div>
            <div class="mode-icon" :class="{[modeValue === 'quickCooling' ? 'quick-cooling-icon-active': 'quick-cooling-icon']: true}"></div>
            <p class="gray_font" :class="{active: modeValue === 'quickCooling'}">速冷模式</p>
          </div>
        </div>
        <div class="wjx-mode-item border-left-gray" :class="{[status + '-background']: modeValue === 'energySaving'}" @click='changeMode("energySaving")'>
          <div>
            <div class="mode-icon" :class="{[modeValue === 'energySaving' ? 'energy-saving-icon-active' : 'energy-saving-icon']: true}"></div>
            <p class="gray_font" :class="{active: modeValue === 'energySaving'}">节能模式</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row-2 gray_bg"></div>
  </span>
  <script src="js/vue.min.js"></script>
  <script src="js/vue-stone.js"></script>
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="https://static.360buyimg.com/smart/jdsmart-1.0.3.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          status: 'green',
          warn: false,
          coldRoomValue: 0,
          ambientTemperature: 0,
          airFreshnessIndex: 99,
          modeValue: '',
          isSterilization: false,
          range_data_array: {// 云离子杀菌程度
            value: {
              value: 3,
              text: '弱'
            },
            isStep: true,
            dots: [
              {
                value: 3,
                text: '弱'
              },
              {
                value: 2,
                text: '中'
              },
              {
                value: 1,
                text: '强'
              },
              {
                value: 0,
                text: '自动'
              }
            ],
          },
        };
      },
      mounted() {
        var self = this;
        this.$refs.coldRoomDom.$on('increase', () => {//温度加下发
          self.controlDevice({
            "command": [{
              "stream_id": "RefrigerationTemperature",//冷藏温度设定值
              "current_value": parseInt(self.coldRoomValue) + 80 + 1
            }]
          }, function (suc) {
          });
        });
        this.$refs.coldRoomDom.$on('decrease', () => {//温度减下发
          self.controlDevice({
            "command": [{
              "stream_id": "RefrigerationTemperature",//冷藏温度设定值
              "current_value": parseInt(self.coldRoomValue) + 80 - 1
            }]
          }, function (suc) {
          });
        });
        this.$refs.sterilizationDom.$on('change', (value) => {//开启负离子功能
          this.range_data_array.value = { value: 3, text: '弱' }
          self.controlDevice({
            "command": [{
              "stream_id": "PurificationModuleMode",//启动
              "current_value": value ? 0 : 4
            }]
          }, function (suc) {
          });
        });
        this.$refs.rangeArray.$on('change', (value) => {//云离子杀菌程度
          self.controlDevice({
            "command": [{
              "stream_id": "PurificationModuleMode",//净化模块模式
              "current_value": value.value
            }]
          }, function (suc) {
          });
        });
      },
      created: function () {
        this.ready();
      },
      methods: {
        ready: function () {
          var self = this;
          JDSMART.ready(function () {
            self.showButton(true);
            self.getInitData();
            setInterval(function () {
              self.getInfo();
            }, 3000);
          });
        },
        //修改模式
        changeMode: function (mode) {
          let currentValue = 0
          if (mode == this.modeValue) {
            this.modeValue = '';
          } else if (mode == 'quickCooling') {
            this.modeValue = mode;
            currentValue = 4
          } else if (mode == 'energySaving') {
            this.modeValue = mode;
            currentValue = 2
          }
          this.controlDevice({
            "command": [{
              "stream_id": "Mode",
              "current_value": currentValue
            }]
          }, function (suc) {
          });
        },
        showButton: function (flag) {//配置导航按钮隐藏显示
          let color = '#45d69a';
          switch (this.status) {
            case 'green': color = '#45d69a'
              break;
            case 'orange': color = '#ff9166'
              break;
            case 'red': color = '#ef7070'
              break;
          }
          JDSMART.app.config({
            showBack: flag,
            showShare: flag,
            showMore: flag,
            color: color,
          });
        },
        //获取设备初始化数据
        getInitData: function () {
          var self = this;
          JDSMART.io.initDeviceData(function (suc) {
            self.setData(suc);
          });
        },
        //刷新数据
        getInfo: function () {
          var self = this;
          JDSMART.io.getSnapshot(
            function (suc) {
              self.setData(suc);
            }, function (error) {
              // 执行失败的回调
              self.toast(error.errorInfo);
            }
          );
        },
        //设置数据
        setData: function (suc) {
          var self = this;
          if (typeof (suc) == "string") {
            suc = JSON.parse(suc);
          }
          //遍历stream数组刷新页面各个参数值
          let closeDoor = true;
          suc["streams"] && suc["streams"].forEach((val, i) => {
            //门开关工作状态
            //冷冻门未关
            if (val["stream_id"] == "FreezerDoorSwitch" && val["current_value"] == 1) closeDoor = false;
            //变温门未关
            if (val["stream_id"] == "VariableTempDoorSwitch" && val["current_value"] == 1) closeDoor = false;
            //保鲜门开关
            if (val["stream_id"] == "PreservationDoorSwitch" && val["current_value"] == 1) closeDoor = false;
            //冷藏门开关
            if (val["stream_id"] == "RefrigerationDoorSwitch" && val["current_value"] == 1) closeDoor = false;
            //空气清新指数
            if (val["stream_id"] == "AirQualityIndex") {
              if (val["current_value"] > self.airFreshnessIndex) {
                if (99 >= val["current_value"] && val["current_value"] >= 73) {
                  self.status = 'green';
                } else if (72 >= val["current_value"] && val["current_value"] >= 53) {
                  self.status = 'orange';
                } else if (52 >= val["current_value"] && val["current_value"] >= 0) {
                  self.status = 'red';
                }
              } else if (val["current_value"] < self.airFreshnessIndex) {
                if (99 >= val["current_value"] && val["current_value"] >= 71) {
                  self.status = 'green';
                } else if (70 >= val["current_value"] && val["current_value"] >= 51) {
                  self.status = 'orange';
                } else if (50 >= val["current_value"] && val["current_value"] >= 0) {
                  self.status = 'red';
                }
              }
              self.airFreshnessIndex = val["current_value"];
            }
            //冷藏室温度
            if (val["stream_id"] == "RefrigerationTemperature") {
              self.coldRoomValue = parseInt(val["current_value"]) - 80;
            }
            //环境传感器温度值
            if (val["stream_id"] == "EnvironmentalSensorTemperature") {
              self.ambientTemperature = parseInt(val["current_value"]) - 80;
            }
            //杀菌是否启动
            if (val["stream_id"] == "PurificationModuleMode") {
              if (val["current_value"] == 4) {
                self.isSterilization = false
              } else {
                self.isSterilization = true
              }
            }
            //开启杀菌
            if (val["stream_id"] == "PurificationModuleMode") {
              if (parseInt(val["current_value"]) == 0) {
                this.range_data_array.value = { value: 0, text: '自动' }
              } else if (parseInt(val["current_value"]) == 1) {
                this.range_data_array.value = { value: 1, text: '强' }
              } else if (parseInt(val["current_value"]) == 2) {
                this.range_data_array.value = { value: 2, text: '中' }
              } else if (parseInt(val["current_value"]) == 3) {
                this.range_data_array.value = { value: 3, text: '弱' }
              } else {
                this.range_data_array.value = { value: 3, text: '弱' }
              }
            }
            //模式
            if (val["stream_id"] == "Mode") {
              if (val["current_value"] == 4) {//冷藏模式
                self.modeValue = 'quickCooling';
              } else if (val["current_value"] == 2) {//节能模式
                self.modeValue = 'energySaving';
              } else {
                self.modeValue = '';
              }
            }
          });
          self.warn = !closeDoor;
          this.showButton(true)
        },
        controlDevice: function (command, callback) {
          JDSMART.io.controlDevice(      //控制设备接口：如开关
            command,
            function (suc) {
              if (callback) callback(suc);
              this.getInfo();
            },
            function (error) {
              toast(error.errorInfo);
            }
          );
        },
        toast: function (str) {
          JDSMART.toast({ "message": str }, null);
        }
      }
    });
  </script>

</body>

</html>